<html>
	<head>
	<meta charset="utf-8" />
	<title>Profil | QuickPass</title>
	<link rel="icon" type="image/png" href="/quickpass/assets/images/logo.png" />
	<link
	rel="stylesheet"
	type="text/css"
	href="/quickpass/contents/styles/style.css"
	/>
	<!-- <link
	rel="stylesheet"
	type="text/css"
	href="/quickpass/contents/styles/accordion.css"
	/>
	<script type="text/javascript" src="/quickpass/contents/scripts/profilController.js"></script>
	<script
	type="text/javascript"
	src="/quickpass/contents/scripts/accordion.js"
	></script> -->
	<script type="text/javascript" src="/quickpass/contents/scripts/layoutController.js"></script>
	</head>
	<body>
		<div class="iframe-container">
			Halo, <a id="lblNamaLengkap" href="profil.html"></a>
		</div>
	</body>
</html>
