<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/contents/styles/style.css"
    />
    <script type="text/javascript" src="daftarPermohonanController.js"></script>
  </head>
  <body>
    <div class="iframe-container">
      <div class="col">
        <div class="col-right"><input type="text" id="txtCari" placeholder="Cari permohonan ..."/></div>
        <div class="col-left">
          <button type="button" id="btnCari" class="btn-full">CARI</button>
        </div>
      </div>
      <div class="col">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Tanggal</th>
              <th>Nama</th>
              <th>Jenis Permohonan</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
