<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profil | QuickPass</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/contents/styles/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/contents/styles/accordion.css"
    />
    <script type="text/javascript" src="detailPermohonanController.js"></script>
    <script
      type="text/javascript"
      src="/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <!-- pemohon -->
    <div id="pemohon-cont" class="iframe-container readonly">
      <div class="col">
        <button type="button" class="accordion">DATA DIRI</button>
        <div class="panel">
          <div class="col">
            <label>Nama Lengkap</label>
            <input type="text" id="txtNamaLengkap" placeholder="Nama Lengkap" />
          </div>
          <div class="col">
            <label>Jenis Kelamin</label>
            <div class="radio-group">
              <input
                type="radio"
                id="kelamin1"
                name="jenisKelamin"
                value="L"
              /><label for="kelamin1">Laki-laki</label>
              <input
                type="radio"
                id="kelamin2"
                name="jenisKelamin"
                value="P"
              /><label for="kelamin2">Perempuan</label>
            </div>
          </div>
          <div class="col">
            <div class="col-right">
              <label>Nama Lain</label>
              <input type="text" id="txtNamaLain" placeholder="Nama Lain" />
            </div>
            <div class="col-left">
              <label>Tinggi Badan</label>
              <input
                type="text"
                id="txtTinggiBadan"
                placeholder="dalam (cm)"
                pattern="[0-9]{0,3}"
              />
            </div>
          </div>
          <div class="col">
            <div class="col-right">
              <label>Tempat Lahir</label>
              <input
                type="text"
                id="txtTempatLahir"
                placeholder="Tempat Lahir"
              />
            </div>
            <div class="col-left">
              <label>Tanggal Lahir</label>
              <input
                type="text"
                id="txtTanggalLahir"
                class="date"
                placeholder="e.g. 13 08 1997"
              />
            </div>
          </div>
          <div class="col">
            <div class="col-right">
              <label>Nomor KTP WNI</label>
              <input
                type="text"
                id="txtNomorKTPWNI"
                placeholder="Nomor KTP WNI"
              />
            </div>
            <div class="col-left">
              <label>Tanggal Dikeluarkan</label>
              <input
                type="text"
                id="txtTanggalDikeluarkan"
                class="date"
                placeholder="e.g. 13 08 1997"
              />
            </div>
          </div>
          <div class="col">
            <div class="col-right">
              <label>Tempat Dikeluarkan</label>
              <input
                type="text"
                id="txtTempatDikeluarkan"
                placeholder="Tempat dikeluarkan"
              />
            </div>
            <div class="col-left">
              <label>Berlaku S/D</label>
              <input
                type="text"
                id="txtTanggalBerakhir"
                class="date"
                placeholder="e.g. 13 08 1997"
              />
            </div>
          </div>
          <div class="col">
            <label>Alamat Tempat Tinggal</label>
            <textarea id="txtAlamat" rows="4" cols="150"></textarea>
          </div>
          <div class="col">
            <label>Nomor Telepon/Handphone</label>
            <input
              type="text"
              id="txtTelepon"
              pattern="^(^\+62\s?|^0)(\d{3,4}){2}\d{3,4}$"
              placeholder="e.g. +62812341234123 atau 0812341234123"
            />
          </div>
          <div class="col">
            <label>Status Sipil</label>
            <input type="text" id="txtStatusSipil" />
          </div>
        </div>

        <button type="button" class="accordion">DATA PEKERJAAN</button>
        <div class="panel">
          <div class="col">
            <label>Pekerjaan</label>
            <input type="text" id="txtPekerjaan" placeholder="lainnya..." />
          </div>
          <div class="col">
            <label>Nama dan Alamat Kantor</label>
            <textarea id="txtNamaAlamatKantor" rows="4" cols="150"></textarea>
          </div>
          <div class="col">
            <label>Nomor Telepon/Handphone</label>
            <input
              type="text"
              id="txtTeleponKantor"
              pattern="^(^\+62\s?|^0)(\d{3,4}){2}\d{3,4}$"
              placeholder="e.g. +62812341234123 atau 0812341234123"
            />
          </div>
        </div>

        <button type="button" class="accordion">DATA ORANG TUA</button>
        <div class="panel">
          <div class="col">
            <button type="button" class="accordion">DATA IBU</button>
            <div class="panel">
              <div class="col">
                <label>Nama</label>
                <input type="text" id="txtNamaIbu" placeholder="Nama" />
              </div>
              <div class="col">
                <label>Kewarganegaraan</label>
                <input
                  type="text"
                  id="txtKewarganegaraanIbu"
                  placeholder="Kewarganegaraan"
                />
              </div>
              <div class="col">
                <div class="col-right">
                  <label>Tempat Lahir</label>
                  <input
                    type="text"
                    id="txtTempatLahirIbu"
                    placeholder="Tempat Lahir"
                  />
                </div>
                <div class="col-left">
                  <label>Tanggal Lahir</label>
                  <input
                    type="text"
                    id="txtTanggalLahirIbu"
                    class="date"
                    placeholder="e.g. 13 08 1997"
                  />
                </div>
              </div>
            </div>
            <!--
                </div>

                <div class="col">
              -->
            <button type="button" class="accordion">DATA AYAH</button>
            <div class="panel">
              <div class="col">
                <label>Nama</label>
                <input type="text" id="txtNamaAyah" placeholder="Nama" />
              </div>
              <div class="col">
                <label>Kewarganegaraan</label>
                <input
                  type="text"
                  id="txtKewarganegaraanAyah"
                  placeholder="Kewarganegaraan"
                />
              </div>
              <div class="col">
                <div class="col-right">
                  <label>Tempat Lahir</label>
                  <input
                    type="text"
                    id="txtTempatLahirAyah"
                    placeholder="Tempat Lahir"
                  />
                </div>
                <div class="col-left">
                  <label>Tanggal Lahir</label>
                  <input
                    type="text"
                    id="txtTanggalLahirAyah"
                    class="date"
                    placeholder="e.g. 13 08 1997"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <label>Alamat Tempat Tinggal</label>
            <textarea id="txtAlamatOrangTua" rows="4" cols="150"></textarea>
          </div>
          <div class="col">
            <label>Nomor Telepon/Handphone</label>
            <input
              type="text"
              id="txtTeleponOrangtua"
              pattern="^(^\+62\s?|^0)(\d{3,4}){2}\d{3,4}$"
              placeholder="e.g. +62812341234123 atau 0812341234123"
            />
          </div>
        </div>

        <button type="button" class="accordion">DATA SUAMI / ISTRI</button>
        <div class="panel">
          <div class="col">
            <label>Nama</label>
            <input type="text" id="txtNamaPasangan" placeholder="Nama" />
          </div>
          <div class="col">
            <label>Kewarganegaraan</label>
            <input
              type="text"
              id="txtKewarganegaraanPasangan"
              placeholder="Kewarganegaraan"
            />
          </div>
          <div class="col">
            <div class="col-right">
              <label>Tempat Lahir</label>
              <input
                type="text"
                id="txtTempatLahirPasangan"
                placeholder="Tempat Lahir"
              />
            </div>
            <div class="col-left">
              <label>Tanggal Lahir</label>
              <input
                type="text"
                id="txtTanggalLahirPasangan"
                class="date"
                placeholder="e.g. 13 08 1997"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- permohonan -->
    <div id="permohonan-cont" class="medium-container readonly">
      <div class="col">
        <button type="button" class="accordion">DATA PERMOHONAN</button>
        <div class="panel">
          <div class="col">
            <label>Jenis Permohonan</label>
            <input id="txtJenisPermohonan" readonly />
          </div>
          <div class="col"><input id="txtDetailPermohonan" readonly /></div>
        </div>
      </div>
    </div>

    <!-- loket -->
    <div id="loket-cont" class="medium-container">
      <div class="col">
        <button type="button" class="accordion">DATA KELENGKAPAN BERKAS</button>
        <div class="panel">
          <div class="col">
            <label>Jenis Lampiran</label>
            <div class="col-right"><select id="sbLampiran"></select></div>
            <div class="col-left">
              <button type="button" id="btnLampiran" class="btn-border">
                TAMBAH
              </button>
            </div>
          </div>
          <div class="col">
            <table id="tblLampiran">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Lampiran</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>

        <button type="button" class="accordion">DATA WAWANCARA</button>
        <div class="panel">
          <div class="col">
            <label>Catatan</label> <textarea id="txtWawancara"></textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <button type="button" id="btnSimpanLoket" class="btn btn-full">
          SIMPAN
        </button>
      </div>
    </div>

    <!-- tu -->
    <div id="tu-cont" class="medium-container">
      <div class="col">
        <button type="button" class="accordion">DATA TATA USAHA</button>
        <div class="panel">
          <div class="col">
            <button class="accordion">PASPOR LAMA</button>
            <div class="panel">
              <div class="col">
                <label>Nomor Paspor / SPLP Lama</label>
                <div class="col-right">
                  <input type="text" id="txtNomorPasporLama" />
                </div>
                <div class="col-left">
                  <button id="btnCariPasporLama" class="btn-border">
                    CARI
                  </button>
                </div>
              </div>
              <div class="col readonly">
                <label>Nama Lama</label> <input type="text" id="txtNamaLama" />
              </div>
              <div class="col readonly">
                <label>Alamat Tempat Tinggal Lama</label>
                <input type="text" id="txtAlamatLama" />
              </div>
              <div class="col readonly">
                <label>Tanggal Dibuat</label>
                <input type="text" id="txtTanggalDibuatLama" />
              </div>
              <div class="col readonly">
                <label>Berlaku s/d</label>
                <input type="text" id="txtTanggalBerlakuLama" />
              </div>
              <div class="col readonly">
                <label>Tempat Dikeluarkan</label>
                <input type="text" id="txtTempatDikeluarkanLama" />
              </div>
              <div class="col readonly">
                <label>Nomor Register</label>
                <input type="text" id="txtNomorRegisterLama" />
              </div>
            </div>

            <button class="accordion">PASPOR BARU</button>
            <div class="panel">
              <div class="col">
                <label>Nomor Paspor / SPLP Baru</label>
                <div class="col-right">
                  <input type="text" id="txtNomorPasporBaru" />
                </div>
                <div class="col-left">
                  <button id="btnCariPasporBaru" class="btn-border">
                    CARI
                  </button>
                </div>
              </div>
              <div class="col readonly">
                <label>Tanggal Dibuat</label>
                <input type="text" id="txtTanggalDibuatBaru" />
              </div>
              <div class="col readonly">
                <label>Berlaku s/d</label>
                <input type="text" id="txtTanggalBerlakuBaru" />
              </div>
              <div class="col readonly">
                <label>Tempat Dikeluarkan</label>
                <input type="text" id="txtTempatDikeluarkanBaru" />
              </div>
              <div class="col readonly">
                <label>Nomor Register</label>
                <input type="text" id="txtNomorRegisterBaru" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <button type="button" id="btnSimpanTU" class="btn btn-full">
          SIMPAN
        </button>
      </div>
    </div>

    <!-- verifikasi -->
    <div id="verifikasi-cont" class="medium-container">
      <div class="col">
        <button type="button" class="accordion">DATA VERIFIKASI</button>
        <div class="panel">
          <div class="col">
            <label>NIKIM</label> <input type="text" id="txtNIKIM" />
          </div>

          <div class="col">
            <label>Kelengkapan Persyaratan</label>
            <div class="radio-group">
              <input
                type="radio"
                id="lengkapSyarat1"
                name="lengkapSyarat"
                value="0"
                checked
              /><label for="lengkapSyarat1">Tidak</label>
              <input
                type="radio"
                id="lengkapSyarat2"
                name="lengkapSyarat"
                value="1"
              /><label for="lengkapSyarat2">Lengkap</label>
            </div>
          </div>

          <div class="col">
            <label>Daftar Cekal</label>
            <div class="radio-group">
              <input
                type="radio"
                id="cekal1"
                name="cekal"
                value="0"
                checked
              /><label for="cekal1">Tidak</label>
              <input type="radio" id="cekal2" name="cekal" value="1" /><label
                for="cekal2"
                >Tercantum</label
              >
            </div>
          </div>

          <div class="col">
            <label>Kelainan Surat</label>
            <div class="radio-group">
              <input
                type="radio"
                id="kelainan1"
                name="kelainan"
                value="0"
                checked
              /><label for="kelainan1">Tidak</label>
              <input
                type="radio"
                id="kelainan2"
                name="kelainan"
                value="1"
              /><label for="kelainan2">Ada</label>
            </div>
          </div>

          <div class="col">
            <label>Persetujuan KAKANIM</label>
            <div class="radio-group">
              <input
                type="radio"
                id="persetujuan1"
                name="persetujuan"
                value="0"
                checked
              /><label for="persetujuan1">Tidak</label>
              <input
                type="radio"
                id="persetujuan2"
                name="persetujuan"
                value="1"
              /><label for="persetujuan2">Setuju</label>
            </div>
          </div>

          <div class="col">
            <label>Catatan Petugas Imigrasi</label>
            <textarea
              id="txtCatatan"
              placeholder="Contoh:\n- Tanggal 17-08-2019 insya'allah keluar"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <button type="button" id="btnBatal" class="btn-cancel">
          KEMBALIKAN
        </button>
      </div>
      <div class="col">
        <button type="button" id="btnSimpanAkhir" class="btn-full">
          VERIFIKASI
        </button>
      </div>
    </div>
  </body>
</html>
