<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index | QuickPass</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/contents/styles/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/contents/styles/accordion.css"
    />
    <script type="text/javascript" src="indexController.js"></script>
    <script
      type="text/javascript"
      src="/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <div class="overlay">
      <!-- <img src="/assets/images/loading.gif" /> -->
      <div class="loading">
        <div class="dot-1"></div>
        <div class="dot-2"></div>
        <div class="dot-3"></div>
        <div class="dot-4"></div>
        <div class="dot-5"></div>
        <div class="dot-6"></div>
      </div>
    </div>

    <div class="iframe-container">
      Selamat datang di QuickPass, Admin
      <a id="lblNamaLengkap" href="profil.html"> </a>
      <div class="col">
        <button type="button" class="accordion">
          PROSEDUR PEMBUATAN PERMOHONAN
        </button>
        <div class="panel">
          <div class="col">
            <div class="circle circle-checked">
              <img src="/assets/svg/loket.svg" type="image/svg" />
            </div>
            <div class="arrow arrow-checked"></div>

            <div class="circle circle-checked">
              <img src="/assets/svg/wawancara.svg" type="image/svg" />
            </div>
            <div class="arrow arrow-checked"></div>

            <div class="circle circle-checked">
              <img src="/assets/svg/bayar.svg" type="image/svg" />
            </div>
            <div class="arrow arrow-checked"></div>

            <div class="circle circle-checked">
              <img src="/assets/svg/tataUsaha.svg" type="image/svg" />
            </div>
            <div class="arrow arrow-checked"></div>

            <div class="circle circle-checked">
              <img src="/assets/svg/persetujuan.svg" type="image/svg" />
            </div>

            <ol>
              <li>
                Melakukan pemeriksaan terhadap formulir data diri dan jenis
                permohonan yang diisi dan dipilih oleh pemohon
              </li>
              <li>
                Memeriksa dan mengisi kelengkapan dokumen yang diserahkan oleh
                pemohon serta melakukan proses pengambilan foto, sidik jari dan
                wawancara
              </li>
              <li>Memberikan surat permohonan dan slip pembayaran</li>
              <li>Melakukan proses verifikasi dan adjudikasi</li>
              <li>Penerbitan paspor</li>
            </ol>
          </div>
        </div>

        <button type="button" class="accordion">SYARAT BERKAS DOKUMEN</button>
        <div class="panel">
          <div class="col">
            <p>Berikut ini adalah syarat berkas dokumen yang perlu dibawa :</p>
            <ul>
              <li>
                Kartu Tanda Penduduk yang masih berlaku atau surat keterangan
                pindah keluar negeri
              </li>
              <li>Kartu Keluarga</li>
              <li>
                Akta Kelahiran, akta perkawinan atau buku nikah, ijazah, atau
                surat baptis <span class="orenji">*</span>
              </li>
              <br />
              <li>Paspor biasa lama bagi yang telah memiliki paspor biasa</li>
              <li>
                Surat pewarganegaraan Indonesia bagi Orang asing yang memperoleh
                kewarganegaraan Indonesia melalui pewarganegaraan atau
                penyampaian pernyataan untuk memilih kewarganegaraan sesuai
                dengan ketentuan peraturan perundang-undangan
              </li>
              <li>
                Surat lapor kehilangan dari kepolisian bagi yang membuat
                permohonan penggantian passpor karena hilang
              </li>
              <li>
                Surat penetapan ganti nama dari pejabat yang berwenang bagi yang
                telah mengganti nama
              </li>
              <li>
                Surat rekomendasi permohonan paspor calon tenaga kerja Indonesia
                yang diterbitkan oleh Dinas Tenaga Kerja Provinsi atau
                kabupaten/kota.
              </li>
            </ul>
            Keterangan:<br />
            <table class="keterangan">
              <tr>
                <td>(*)</td>
                <td>
                  atau dokumen yang mencakup:
                  <ul>
                    <li>nama</li>
                    <li>tanggal lahir</li>
                    <li>nama orang tua</li>
                  </ul>
                  atau surat keterangan dari instansi yang berwenang;
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
