<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profil | QuickPass</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/contents/styles/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/contents/styles/accordion.css"
    />
    <script type="text/javascript" src="akunController.js"></script>
    <script
      type="text/javascript"
      src="/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <div class="overlay">
      <!-- <img src="/assets/images/loading.gif" /> -->
      <div class="loading">
        <div class="dot-1"></div>
        <div class="dot-2"></div>
        <div class="dot-3"></div>
        <div class="dot-4"></div>
        <div class="dot-5"></div>
        <div class="dot-6"></div>
      </div>
    </div>
    <div class="iframe-container">
      <form method="post" action="">
        <div class="col">
          <button type="button" class="accordion">DATA AKUN</button>
          <div class="panel">
            <div class="col">
              <label>Alamat Email</label>
              <input
                type="email"
                id="txtAlamatEmail"
                name="AlamatEmail"
                placeholder="Alamat email"
              />
            </div>
            <div class="col">
              <label>Ubah Kata Sandi</label>
              <input
                type="password"
                id="txtKataSandi"
                name="KataSandi"
                placeholder="Kata sandi baru"
              />
            </div>
            <div class="col">
              <label>Konfirmasi Kata Sandi</label>
              <input
                type="password"
                id="txtKataSandi1"
                name="KataSandi1"
                placeholder="Konfirmasi Kata sandi baru"
              />
            </div>
          </div>
        </div>
        <div class="col"><label class="galat" id="lblGalat"></label></div>
        <div class="col">
          <button type="button" id="btnSimpan" class="btn-full" name="Simpan">
            SIMPAN
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
