<html>
  <head>
    <meta charset="utf-8" />
    <title>Profil | QuickPass</title>
    <link
      rel="icon"
      type="image/png"
      href="/quickpass/assets/images/logo.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/quickpass/contents/styles/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/quickpass/contents/styles/accordion.css"
	  />
	<script type="text/javascript" src="indexController.js"></script>
    <script
      type="text/javascript"
      src="/quickpass/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <div class="iframe-container">
      Selamat datang di QuickPass,
      <a id="lblNamaLengkap" href="profil.html"> </a>
      <div class="col">
        <button type="button" class="accordion">
          PROSEDUR PEMBUATAN PERMOHONAN
        </button>
        <div class="panel">
          <div class="col">
          	<div class="circle circle-checked">
				<img src="/quickpass/assets/svg/loket.svg" type="image/svg" />
			</div>
			<div class="arrow arrow-checked">
			</div>

			<div class="circle circle-checked">
				<img src="/quickpass/assets/svg/wawancara.svg" type="image/svg" />
			</div>
			<div class="arrow arrow-checked">
			</div>

			<div class="circle circle-checked">
				<img src="/quickpass/assets/svg/bayar.svg" type="image/svg" />
			</div>
			<div class="arrow arrow-checked">
			</div>

			<div class="circle circle-checked">
				<img src="/quickpass/assets/svg/tataUsaha.svg" type="image/svg" />
			</div>
			<div class="arrow arrow-checked">
			</div>

			<div class="circle circle-checked">
				<img src="/quickpass/assets/svg/persetujuan.svg" type="image/svg"/>
            </div>
            <p>1. Mengisi formulir data diri dan memilih jenis permohonan di website QuickPass</p>
            <p>2. Menyerahkan dokumen ke loket, melakukan proses pengambilan foto dan sidik jari serta wawancara </p>
            <p>3. Melakukan pembayaran sesuai slip pembayaran yang diberikan </p>
            <p> 4. Menunggu proses verifikasi dan adjudikasi oleh pejabat imigrasi yang ditunjuk 
            </p>
            <p>5. Pengambilan paspor </p>

          </div>
        </div>

        <button type="button" class="accordion">SYARAT BERKAS DOKUMEN</button>
        <div class="panel">
          <div class="col">
            <p>Berikut ini adalah syarat berkas dokumen yang perlu dibawa :</p>
            <p>
              1. Kartu Tanda Penduduk yang masih berlaku atau surat keterangan
              pindah keluar negeri;
            </p>
            <p>2. Kartu Keluarga;</p>
            <p>
              3. Akta Kelahiran, akta perkawinan atau buku nikah, ijazah, atau
              surat baptis;
            </p>
            <p>
              4. Surat pewarganegaraan Indonesia bagi Orang asing yang
              memperoleh kewarganegaraan Indonesia melalui pewarganegaraan atau
              penyampaian pernyataan untuk memilih kewarganegaraan sesuai dengan
              ketentuan peraturan perundang-undangan;
            </p>
            <p>
              5. Surat penetapan ganti nama dari pejabat yang berwenang bagi
              yang telah mengganti nama;
            </p>
            <p>
              6. Paspor biasa lama bagi yang telah memiliki paspor biasa; dan
            </p>
            <p>
              7. Surat lapor kehilangan dari kepolisian bagi yang membuat
              permohonan penggantian passpor karena hilang.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
