<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buat Permohonan | QuickPass</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/contents/styles/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/contents/styles/accordion.css"
    />
    <script type="text/javascript" src="pembuatanController.js"></script>
    <script
      type="text/javascript"
      src="/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <div class="overlay">
      <!-- <img src="/assets/images/loading.gif" /> -->
      <div class="loading">
        <div class="dot-1"></div>
        <div class="dot-2"></div>
        <div class="dot-3"></div>
        <div class="dot-4"></div>
        <div class="dot-5"></div>
        <div class="dot-6"></div>
      </div>
    </div>
    <div id="contBuat" class="iframe-container">
      <form method="post" action="">
        <div class="col"><label id="lblCekProfil" class="galat"></label></div>
        <div class="col">
          <button type="button" class="accordion">DATA PERMOHONAN</button>
          <div class="panel">
            <div class="col">
              <label>Jenis Permohonan</label>
              <select id="sbJenisPermohonan"></select>
            </div>
            <div class="col">
              <!-- <label>Detail Permohonan</label> -->
              <select id="sbDetailPermohonan"></select>
            </div>
          </div>
        </div>
        <div class="col"><label class="galat" id="lblGalat"></label></div>
        <div class="col">
          <button type="button" id="btnBuat" class="btn btn-full" name="Buat">
            BUAT
          </button>
        </div>
      </form>
    </div>

    <div id="contTable" class="medium-container">
      <div class="col scrollX">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Tanggal</th>
              <th>Jenis Permohonan</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
