<html>
  <head>
    <meta charset="utf-8" />
    <title>Buat Permohonan | QuickPass</title>
    <link
      rel="icon"
      type="image/png"
      href="/quickpass/assets/images/logo.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/quickpass/contents/styles/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/quickpass/contents/styles/accordion.css"
    />
    <script type="text/javascript" src="pembuatanController.js"></script>
    <script
      type="text/javascript"
      src="/quickpass/contents/scripts/accordion.js"
    ></script>
  </head>
  <body>
    <div id="contBuat" class="iframe-container">
      <form method="post" action="">
        <div class="col"><label id="lblCekProfil" class="galat"></label></div>
        <div class="col">
          <button type="button" class="accordion">DATA PERMOHONAN</button>
          <div class="panel">
            <div class="col">
              <label>Jenis Permohonan</label>
              <select id="sbJenisPermohonan"></select>
            </div>
            <div class="col">
              <!-- <label>Detail Permohonan</label> -->
              <select id="sbDetailPermohonan"></select>
            </div>
          </div>
        </div>
        <div class="col"><label class="galat" id="lblGalat"></label></div>
        <div class="col">
          <button type="button" id="btnBuat" class="btn btn-full" name="Buat">
            BUAT
          </button>
        </div>
      </form>
    </div>

    <div id="contTable" class="medium-container">
      <div class="col">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Tanggal</th>
              <th>Jenis Permohonan</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
