* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  margin: 0;
}

.container,
.medium-container,
.iframe-container {
  background: #f2f2f2;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 1% 0%;
}

.logo-container {
  margin: 0 auto 25px;
  padding-top: 5%;
  text-align: center;
}

.logo-container img {
  display: block;
  height: 150px;
  margin: 0 auto;
  text-align: center;
}

.logo-container label {
  font-family: Overpass;
  font-size: 40px;
}

.f-title {
  font-style: italic;
}

.l-title {
  font-weight: bold;
}

.col {
  margin: 0 5% 20px;
}

.col-right {
  margin-bottom: 20px;
}

.col label,
.col input,
.col button,
.col select,
.col textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.col input,
.col button,
.col select,
.col textarea {
  border-radius: 20px;
  border: 2px solid #008181;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col input[type="radio"] {
  display: inline;
  margin-left: 15px;
}

.col button,
.col label {
  font-weight: bold;
}

label {
  /* color: #008181; */
  color: #ff6300;
  margin-bottom: 10px;
}

.btn-cancel {
  border: 2px solid #e10039 !important;
  color: #e10039;
  background: #fff;
}

.btn-cancel:hover {
  background: #e10039;
  color: #fff;
}

.col button {
  margin: 0 auto;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.btn-full,
.btn-border:hover {
  background-color: #008181;
  color: white;
}

.btn-border {
  background-color: white;
  color: #008181;
  border-color: #008181;
}

.col textarea {
  resize: vertical;
  min-height: 120px;
}

.radio-group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
}
.radio-group label {
  display: inline;
  border: 2px solid #008181;
  margin: 0px auto;
  text-align: center;
  padding: 10px 15px;
  font-size: 1em;
}
.radio-group label:first-of-type {
  border-radius: 30px 0 0 30px;
}
.radio-group label:last-of-type {
  border-radius: 0 30px 30px 0;
}
.radio-group input {
  display: none !important;
}

.radio-group input:checked + label {
  color: #fff;
  background: #008181;
}

.col .circle {
  border: 3px solid #747474;
  border-radius: 100%;
  display: inline-block;
  filter: grayscale(100%);

  height: 11vw;
  width: 11vw;
}

.col .circle-checked {
  border: 3px solid #008181;
  filter: grayscale(0%);
}

.col .circle-back {
  display: inline-block;
  border-radius: 100%;
  border: 3px solid #e10039;
  height: 11vw;
  width: 11vw;
}

.center {
  text-align: center;
}

.col .circle img,
.col .circle-back img {
  height: 100%;
  padding: 2vw;
}

.arrow {
  display: inline-block;
  color: #ff6300;
  filter: grayscale(100%);
  height: 11vw;
}
.arrow-checked {
  filter: grayscale(0%);
}
.arrow::before {
  content: "\00BB";
  display: table;
  margin: auto 0px;
  position: relative;
  top: 17px;
  font-size: 5vw;
}

.col input:invalid {
  box-shadow: 0px 0px 10px 3px #ff000055;
}

.overlay {
  position: absolute;
  background: #00000041;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  display: none;
  transition: display ease-in-out;
}

.overlay div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[class*="dot-"] {
  background: #fff;
  border: 1px solid #008181;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  display: inline-block;
  animation: moveY 1s infinite ease-in-out;
}

.dot-6 {
  animation-delay: 0s;
}
.dot-5 {
  animation-delay: 0.2s;
}
.dot-4 {
  animation-delay: 0.4s;
}
.dot-3 {
  animation-delay: 0.6s;
}
.dot-2 {
  animation-delay: 0.8s;
}
.dot-1 {
  animation-delay: 1s;
}

@keyframes moveY {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.galat {
  color: #e10039;
  font-size: 14px !important;
  text-align: center;
  margin: 0 auto;
  padding-left: 0 !important;
}

#txtPekerjaan {
  transition: display 0.2s ease-out;
}

.scrollX {
  overflow-x: auto;
}

.col table {
  background: white;
  width: 100%;
  border: none;
}

.col thead {
  background: #008181;
  color: white;
}

.col th,
.col td {
  padding: 10px 20px;
}

.col table,
.col th,
.col td {
  border-collapse: collapse;
}

.col th,
.col td {
  border: 1px solid white;
}

#contBuat {
  min-height: 60vh;
}

#contTable {
  min-height: 40vh;
}

.keterangan {
  padding-top: 20px;
}

.keterangan tr td:first-child {
  vertical-align: baseline;
  width: 0px;
  padding-right: 0px;
}

.keterangan ol,
.keterangan ul {
  margin: 0px;
}

.orenji,
.keterangan tr td:first-child {
  color: #e10039;
}

.readonly input,
.readonly input ~ label,
.readonly textarea {
  background: #ecffae;
}
.col button:disabled {
  background: #747474;
}

#pemohon-cont,
#permohonan-cont,
#loket-cont,
#tu-cont,
#verifikasi-cont {
  min-height: 100%;
}



















@media only screen and (min-width: 1000px) {
  .container,
  .medium-container,
  .iframe-container {
    background: #f2f2f2;
    padding: 1% 4%;
    margin: 0 auto 60px auto;
    box-shadow: 0px 10px 10px 5px #00000055;
    width: 400px;
    position: relative;
    top: 5vh;
    height: 100%;
    min-height: 0;
  }

  .iframe-container {
    width: 1000px;
    margin: 45px auto 55px auto;
  }

  .logo-container {
    margin: 0 auto 25px;
    text-align: center;
  }

  .col {
    margin: 0 auto 20px auto;
  }

  .medium-container {
    width: 1000px;
  }

  .left-part-container {
    float: left;
  }

  .right-part-container {
    margin-left: 250px;
  }

  #contBuat,
  #contTable {
    min-height: 100%;
  }

  .col-right,
  .col-left {
    display: inline-block;
  }

  .col-right {
    width: 70%;
    margin-bottom: 0;
  }

  .col-left {
    width: 28%;
    float: right;
  }

  .col .circle,
  .col .circle-back {
    height: 100px;
    width: 100px;
  }

  .col .circle img,
  .col .circle-back img {
    padding: 20px;
  }

  .arrow {
    height: 100px;
  }
  .arrow::before {
    font-size: 50px;
  }
}
