* {
  box-sizing: border-box;
  font-family: Roboto;
}

.container,
.medium-container,
.iframe-container {
  background: #f2f2f2;
  padding: 1% 4%;
  margin: 0 auto 60px auto;
  box-shadow: 0px 10px 10px 5px #00000055;
  width: 400px;
  position: relative;
  top: 5vh;
}

.iframe-container {
  width: 1000px;
  margin: 45px auto 55px auto;
}

.logo-container {
  margin: 0 auto 25px;
  text-align: center;
}

.logo-container img {
  display: block;
  height: 150px;
  margin: 0 auto;
  text-align: center;
}

.logo-container label {
  font-family: Overpass;
  font-size: 40px;
}

.f-title {
  font-style: italic;
}

.l-title {
  font-weight: bold;
}

.col {
  margin: 0 auto 20px auto;
}

.col label,
.col input,
.col button,
.col select,
.col textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.col input,
.col button,
.col select,
.col textarea {
  border-radius: 20px;
  border: 2px solid #008181;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col button,
.col label {
  font-weight: bold;
}

label {
  /* color: #008181; */
  color: #ff6300;
  margin-bottom: 10px;
}

.btn-full, .btn-border:hover {
  background-color: #008181;
  color: white;
}

.btn-border {
  background-color: white;
  color: #008181;
  border-color: #008181;
}

.col input:invalid {
  box-shadow: 0px 0px 10px 3px #ff000055;
}

.medium-container {
  width: 1000px;
}

.left-part-container {
  float: left;
}

.right-part-container {
  margin-left: 250px;
}

.col input[type="radio"] {
  display: inline;
  margin-left: 15px;
}

.col-right,
.col-left {
  display: inline-block;
}

.col-right {
  width: 70%;
}

.col-left {
  width: 28%;
  float: right;
}

#txtPekerjaan {
  transition: display 0.2s ease-out;
}

.col textarea {
  resize: vertical;
  min-height: 120px;
}

.radio-group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
}
.radio-group label {
  display: inline;
  border: 2px solid #008181;
  margin: 0px auto;
  text-align: center;
  padding: 10px 15px;
  font-size: 1em;
}
.radio-group label:first-of-type {
  border-radius: 30px 0 0 30px;
}
.radio-group label:last-of-type {
  border-radius: 0 30px 30px 0;
}
.radio-group input {
  display: none !important;
}

.radio-group input:checked + label {
  color: #fff;
  background: #008181;
}

.galat {
  color: #e10039;
  font-size: 14px !important;
  text-align: center;
  margin: 0 auto;
  padding-left: 0 !important;
}

.col table {
  background: white;
  width: 100%;
  border: none;
}

.col thead {
  background: #008181;
  color: white;
}

.col th, .col td {
  padding: 10px 20px;
}

.col table, .col th, .col td{
  border-collapse: collapse;
}

.col th, .col td{
  border: 1px solid white;
}

.col .circle{
  border: 3px solid #747474;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  /* margin: 10px 30px; */
  filter: grayscale(100%);
}

.col .circle-checked{
  border: 3px solid #008181;
  filter: grayscale(0%);
}

.center{
  text-align: center;
}

.col .circle img{
  padding: 20px;
  height: 100%;
}

.arrow {
  display: inline-block;
  height: 100px;
  color: #ff6300;
  filter: grayscale(100%);
} 
.arrow-checked{
  filter: grayscale(0%);
}
.arrow::before{
  content: "\00BB";
  font-size: 50px;
  display: table;
  margin: auto 0px;
  position: relative;
  top: 17px;
}

.btn-cancel{
  border: 2px solid #e10039 !important;
  color: #e10039;
  background: #fff;
}

.btn-cancel:hover{
  background: #e10039;
  color: #fff;
}

.btn {
  width: 50% !important;
  margin: 0 auto;
  transition: background .2s ease-in-out, color .2s ease-in-out;
}

ul {
  list-style-position: outside;
}